<h2>Welcome to the Wonderful game of</h2>
<h1>Rock, Paper and Scissors!!!</h1>

<p>If you would like to play a game please choose one of the three links to select the first players choice.</p>

<ul>
<li><a href="game/rock">Rock</a></li>
  <li><a href="game/paper">Paper</a></li>
  <li><a href="game/scissors">Scissors</a></li>
</ul>