<h2>Welcome to the Wonderful game of</h2>
<h1>Rock, Paper and Scissors!!!</h1>

<p>If you would like to play a game please choose one of the three links to select the first players choice.</p>

<ul>
  <li>Rock</li>
  <li>Paper</li>
  <li>Scissors</li>
</ul>